 .u-section-1 {
  background-image: url("images/green.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 551px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 137px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 0 51px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: url("images/green.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 622px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 552px;
}

.u-section-2 .u-container-layout-1 {
  padding: 54px 31px 30px;
}

.u-section-2 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 19px 15px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 83px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 552px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 369px;
  height: 277px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 369px;
  height: 277px;
  margin: -277px 0 0 auto;
}

.u-section-2 .u-image-3 {
  width: 369px;
  height: 260px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-2 .u-image-1 {
    width: 355px;
    height: 266px;
  }

  .u-section-2 .u-image-2 {
    width: 355px;
    height: 266px;
    margin-top: -266px;
  }

  .u-section-2 .u-image-3 {
    width: 355px;
    height: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 524px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 255px;
    margin-top: -255px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 239px;
  }
} .u-section-3 {
  background-image: url("images/green.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 692px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 574px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  filter: brightness(0.75);
  margin-top: 0;
  height: 303px;
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  height: 271px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 102px 149px 101px;
}

.u-section-3 .u-text-1 {
  width: 78px;
  margin: 62px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 8px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 473px;
  }

  .u-section-3 .u-image-1 {
    height: 250px;
  }

  .u-section-3 .u-image-2 {
    height: 224px;
    margin-top: 53px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 47px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-3 .u-image-1 {
    height: 191px;
  }

  .u-section-3 .u-image-2 {
    height: 172px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-3 .u-image-1 {
    height: 287px;
  }

  .u-section-3 .u-image-2 {
    height: 258px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-3 .u-image-1 {
    height: 181px;
  }

  .u-section-3 .u-image-2 {
    height: 162px;
  }
}